.test-layout{
    width: 100vw;
    height: 80vh;
    border: 1px solid black;
}
/* this test-layout class for test it will be terminated */
 
.RCA-app-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
 
.RCA-header-container{
    flex-basis: 50px;
    background-color: rgb(224, 215, 202);
}
 
.RCA-calendar-container{
    flex-grow: 1;
    background-color: rgb(127, 184, 127);
}